.header2 {
    grid-area: header;
    display: flex;
    position: sticky;
    top: 0;

    height: 80px;
    background-color: black;
    color: white;
    font-family: 'Raleway', sans-serif;

    background-color: black;
    padding-left: 20px;
    padding-top: 20px;
    border-bottom: solid 1px white;
    z-index: 4;

    a {
        .imagenHeader {
            width: 50px;
            height: 50px;

            transition: width height 1s;

            &:hover {
                width: 55px;
                height: 55px;
            }

        }
    }

    h1 {
        padding: 5px;
    }

    .navOculto {
        .botonNav {
            display: none;
        }

        .navContenido {
            display: none
        }
    }

}





.nav2 {
    grid-area: nav;
    position: sticky;
    top: 0;

    display: inline;
    float: inline-end;
    font-family: 'Raleway', sans-serif;

    /*width: 800px;*/
    background-color: black;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    text-decoration: none;

    padding-left: 20px;
    padding-right: 20px;
    border-bottom: solid 1px white;
    z-index: 4;


    a {
        background-color: transparent;
        position: relative;
        color: white;
        text-decoration: none;
        margin-left: 10px;
        margin-right: 10px;

        transition: 1s padding ease-out, 1s margin ease-out, 1s border ease-out;

        &:hover {
            padding: 10px;
            margin: -10px 5px;
            border: 2px solid #ddd;


        }

    }

}


@media screen and (max-width: 400px) {


    .header2 {

        justify-content: space-between;

        a {
            .imagenHeader {
                width: 40px;
                height: 40px;

            }
        }

        h1 {
            display: none;
        }


        .navOculto {
            position: relative;
            display: inline-block;


            .botonNav {
                display: inline;
                background-color: transparent;
                border: none;
                cursor: pointer;
                margin-right: 20px;

                img {
                    width: 40px;
                    height: 30px;
                }
            }

            .navContenido {
                display: none;
                position: absolute;
                background-color: #f9f9f9;
                min-width: 160px;
                box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
                z-index: 1;

                a {
                    color: black;
                    padding: 12px 16px;
                    text-decoration: none;
                    display: block;

                    &::hover {
                        background-color: #f1f1f1
                    }
                }


            }

            &:hover {
                .navContenido {
                    display: block;
                    right: 40px;
                }
            }
        }
    }


    .nav2 {
        display: none;
    }



}


