.main2{
    grid-area: main ;
    
    .fondoMain2{
        background-image: url(https://res.cloudinary.com/nubenak2/image/upload/v1658701103/teatro/fondo_index_cph2xk.jpg);
        background-size: cover;
        filter: grayscale(1);
        
        width: 100%;
        height: 25rem;
        

       
        
        .tituloMain2{
            display: inline-block;
            
            @extend %estiloTexto;
            color: white;
            
        }
    }


    



    .actividadesMain{
        color: white;
        background-color: black;
        display: flex;
    
    
        margin: 6rem;

        .linkActividad{
            border: none;
            height: 14rem;
            width: 14rem;
            background-color: black;

            img{
                height: 4rem;
                width: 4rem;
            }

        }

        .titulosActividad{
            font-size: 3rem;
            margin: 5rem 3rem 0rem 3rem ;
        
        }

        .textoActividad{
            height: fit-content;
            width: fit-content;
            padding: 0rem 3rem 0rem 3rem ;
            margin: 5rem 3rem 0rem 3rem ;
            border-left: 1px solid black;
        }

    
    
    }


    .footer2{
        
        display: flex;
        justify-content: space-around;
        background-color: black;
        color: white;

        div{
            background-color: transparent;
            display: flex;
            flex-direction: column;
            text-align: center;
            padding: 2rem;

            h4{
                font-size: 2.8rem;
                letter-spacing: 6px;
            }

            a{
                color: white;
                text-decoration: none;
            }

        }


    }


}


@media  screen and (max-width: 400px) {

    .main2 {
    
            .fondoMain2 {
                
                
                
    
                .tituloMain2 {
                    display: inline-block;
                    font-size: 4rem;
                    color: white;
                    margin-top: 25%;
                    margin-left: 10px;
                }
    
            }


            .actividadesMain{
                margin: 1rem;

                .linkActividad{
                    height: 4rem;
                    width: 4rem;

                    img{
                        height: 1.5rem;
                        width: 1.5rem;
                    }
                }

                .titulosActividad{
                    font-size: 2.5rem;
                    margin: 0.5rem 0rem 0rem 1rem ;
                
                }
                
                .textoActividad{
                    display:none;
                    position: absolute
                }
            
            }

            .footer2{
                flex-direction: column;
                justify-content: space-around;
                background-color: black;
                div{
                    background-color: black; 
                }
            }
        }
    
 


}


